<h1>Outfits#show</h1>
<p>Find me in app/views/outfits/show.html.erb</p>
<% for Outfit in @outfit_list %>
  <div class="col-md-2">
    <% if outfit.img_url != nil %>
      <%= image_tag(outfit.img_url) %>

  </div>
      <% end %>
  <div class="container share-buttons">
    <div class="row">
      <div class="col-md-1">
        <% if session[:user_id] %>

        <%= link_to('<img src="assets/shopping10.png" id="shopping-icon">'.html_safe, favorite_outfit_path(outfit_id: outfit.id, type: "favorite"), :method => :post ) %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>

  <div class="row">
  <div class="col-md-2">
    <img alt="Rain Day Outfit" src='http://is4.revolveclothing.com/images/p4/n/z/JAME-WO250_V1.jpg' title="Rain Day Outfit" border="0" class="img-responsive img-center"/></a>
  </div>
<!--   <div class="col-md-1">
  </div> -->
  <div class="col-md-2">
    <img alt="Rain Day Outfit" src='http://is4.revolveclothing.com/images/p4/n/z/ONET-WO24_V1.jpg' title="Rain Day Outfit" border="0"class="img-responsive img-center" /></a>
  </div>
<!--   <div class="col-md-1">
  </div> -->
  <div class="col-md-2">
    <img alt="Rain Day Outfit" src='http://is4.revolveclothing.com/images/p4/n/z/BARD-WO20_V1.jpg' title="Rain Day Outfit" border="0" class="img-responsive img-center" /></a>
  </div>
<!--   <div class="col-md-1">
  </div> -->
  <div class="col-md-2">
    <img alt="Rain Day Outfit" src='http://is4.revolveclothing.com/images/p4/n/z/NHOX-WO10_V1.jpg' title="Rain Day Outfit" border="0" class="img-responsive img-center"/></a>
  </div>
<!--     <div class="col-md-1">
  </div> -->
  <div class="col-md-2">
    <img alt="Rain Day Outfit" src='http://is4.revolveclothing.com/images/p4/n/z/MSCO-WO42_V1.jpg' title="Rain Day Outfit" border="0" class="img-responsive img-center" /></a>
  </div>
</div>

