
@import "bootstrap-sprockets";
@import "bootstrap";

#welcome-container {
    width: auto;
    height:760px;
    position: relative;
    background: url('rain-pic.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#welcome-container-index {
    width: auto;
    height:760px;
    position: relative;
    }

.page-container {
    margin-left:auto;
    margin-right:auto;
    padding-left:25px;
    padding-right:25px;
    width:1500px;
}

#header {
    background-color: rgba(255, 255, 255, .8);
    line-height: 25px;
    z-index: 1000;
    /*right: 20px;*/
    width: 100%;
    position: relative;
    color: black;
    font-family: 'Raleway', sans-serif;
    /*display:inline-block;*/
}

.nav>li {
    line-height: 35px;
    display: flex !important;
}

.nav li a:hover{
    color:#111 !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

// li {
//     /*display: list-item;*/
//     /*display: inline-block;*/
// }

.indexpage {
    color: black !important;
    text-decoration:none !important;
}
.forecast-box {
    width: 100%;
    background-color: rgba(0,0,10,.05);
    padding: 0px 15px;
    -webkit-animation: forecastmove 4s linear;
}
@-webkit-keyframes forecastmove {
    0% {height: 0px;}
    50% {height: 150px;}
    100% {height: 250px;}
}
#location-form {
    margin: 20px;
    font-family: 'Muli', sans-serif !important;
    -webkit-animation: formmove 4s linear;
    -webkit-transition: width 2s; /* Safari 3.1 to 6.0 */
    transition: width 2s;
}
#weather-box {
    font-family: 'Muli', sans-serif;
}
#geolocation{
    margin: 10px;
    font-size: 26px;
}
#weather-icon {
    float: left;
}
#weather-icon-url {
    height: 70px;
    right: 500px;
}
#weather-group{
    float: left;
}
.user-weather {
    font-size: 20px;
}
#the-weather {
    float: right;
}
#user-rec {
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    padding: 20px;
}
.heart-icon {
    height: 35px;
}
