
@import "bootstrap-sprockets";
@import "bootstrap";

#welcome-container {
    width: auto;
    height:760px;
    position: relative;
    background: url('rain-pic.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#welcome-container-index {
    width: auto;
    height:760px;
    position: relative;
    }

.page-container {
    margin-left:auto;
    margin-right:auto;
    padding-left:25px;
    padding-right:25px;
    width:1500px;
}

#header {
    background-color: rgba(255, 255, 255, .8);
    line-height: 25px;
    z-index: 1000;
    /*right: 20px;*/
    width: 100%;
    position: relative;
    color: black;
    font-family: 'Quicksand', sans-serif;
    /*display:inline-block;*/
}

.nav>li {
    line-height: 35px;
    display: flex !important;
}

.nav li a:hover{
    color:#111 !important;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

// li {
//     /*display: list-item;*/
//     /*display: inline-block;*/
// }

.indexpage {
    color: black !important;
    text-decoration:none !important;
}
.forecast-box {
    height: 250px;
    background-color: rgba(0,0,0,.2);
    padding: 15px;
}
#location-form {
    height: 200px;
    width: 400px;
    font-family: 'Quicksand', sans-serif !important;
}

