<!DOCTYPE html>
<html>
<html ngApp = "myApp">
  <title>Weatherapp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
